@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto Thin';
    background: rgba(0,54,112,1);
    background: -webkit-linear-gradient(left, rgba(0,54,112,1) 0%, rgba(73,155,234,1) 100%);
    background: -webkit-linear-gradient(left, #ff5100 0%, rgba(73,155,234,1) 100%);
    color: #ffffff;
}

li {
    display: inline-block;
    padding-right: 2%;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.topnav {
    text-align: right;
    float: right;
}

.aboutme {
    text-align: center;
}

.aboutme-title {
    font-size: 48px;
}

.aboutme-info {
    /* border-style: dashed; */
    font-size: 36px;
    margin: 0px 20%;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.contact-points {
    padding: 8%;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact-points .figure {
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 25px;
    margin: 2px;
    position: relative;
    top: -100px;
    /* display: flex; */
}

.contact-points .figure img {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

.figure img:hover {
    filter: brightness(0.5);
}

.figure {
    position: relative;
}

.figure p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
}

.figure:hover p {
    opacity: 100%;
}

.figure:hover img {
    opacity: 50%;
}

a:visited {
    color: black;   
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome Firefox & Opera */
}